* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

/* ///////////////HOME PAGE/////////////////// */

.hero {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 450px;
  height: 700px;
  padding-top: 90px;
  
}
.hero h1 {
  font-size: 35px;
}

.hero h2 {
  padding: 20px;
}

button {
  padding: 20px;
  margin: 20px;
  text-align: center;

}

.btns {
  padding: 30px;
  margin-top: 70px;
  text-align: center;
}

.btns button {
  background-color:black;
  border: 3px solid white;
  border-radius: 10%;
  font-size: 16px;
  padding: 20px;
  width: 170px;
  color: white;
}

.shoe-angles {
  padding-left: 250px;
  display: grid;
  cursor: pointer;
}


/* ////////////////NAVBAR///////////////// */

.navbar {
  background-color: black;
  padding: 18px;
  color: white;
  position: fixed;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 30px;
  font-weight: bold;
}

.cart-icon {
  position:sticky;
  top: 0;
  right: auto;
  
}




/* ////////////////NEWSLETTER//////////////////// */

.newsletter {
  margin: auto;
  height: 500px;
  width: 1000px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 150px;
  border: 2px solid black;
  border-radius: 3%;
}

.newsletter h1 {
  font-size: 50px;
  padding-bottom: 20px;
}

.newsletter h3 {
  font-size: 25px;
}

.newsletter input {
  height: 40px;
  width: 320px;
}

.newsletter button {
  padding: 10px;
  width: 100px;
}

/* ///////////////FOOTER/////////////////////// */

.footer {
  height: 200px;
  width: 100%;
  background-color: black;
  
}

.review-page {
  padding-top: 30px;
}

.review-block {
  background-color: rgb(194, 187, 187);
  border: 2px white solid;
  height: 180px;
  text-align: center;
  padding-top: 15px;
}

.review-header {
  padding-top: 100px;
  text-align: center;
}

.review-add {
  text-align: center;
}

.new-review-page {
  padding: 100px 50px;
  display: grid;
  
}

.new-review-page input {
  height: 100px;
  border: 5px solid black;
}

/* /////////////////SHOP PAGE/////////////////////// */

.shop {
  padding-top: 50px;

  
}

.coupon {
  background-image: url(https://i.ytimg.com/vi/fzsECgnq7WY/maxresdefault.jpg);
  background-size:cover;
  height: 150px;
  width: 1200px;
  margin: auto;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 70px;
  
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 400px 0;
}

.shoe-box {
  flex-basis: 33%;
  font-size: 12px;

}

.shoe-box img {
  width: 70%;
  cursor: pointer;
}

.shoe-details img {
  width: 35%;
}

.shoe-details {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding-top: 150px;
}

.shoe-text {
  text-align: center;
  word-wrap:normal;
  padding-top: 80px;
}

.shoe-text button {
  width: 250px;
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.shoe-text button:hover {
  background-color: rgb(6, 145, 6);
  cursor: pointer;

}


/* //////////////HELP PAGE///////////////// */

.help {
  height: 500px;
  width: 300px;
  padding-top: 100px;
  text-align: center;
  margin: auto;
}




/* ////////////////////CART///////////////////// */

.cart-page {
  padding-top: 100px;
}


