* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ///////////////HOME PAGE/////////////////// */

.hero {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 450px;
  height: 700px;
  
}

button {
  padding: 20px;
  margin: 20px;
  text-align: center;

}

.btns {
  
  display: flex;
  justify-content: center;
}

.shoe-angles {
  padding-left: 250px;
  display: grid;
  cursor: pointer;
}